.jobs{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 5vmax;
        align-items: center;
    }
    .downSideImage{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .downSideImage > img{
        width: 250px;
    }
@media screen and (max-width: 800px){
    .downSideImage > img{
        width: 70px;
    }
}